@{
    ViewData["Title"] = "Contact";
}

<!-- Main star -->
<main>

    <section id="contact-header-img">
        <div class="contact-bg-img" style="background-image: url('./assets/images/contact-bg-img.jpg')">
            <h1>CONTACT US</h1>
            <img src="./assets/images/banner-on-logo.png" alt="">
        </div>
    </section>

    <section id="contact-content">
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24313.215380891517!2d49.86191205!3d40.3833254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2saz!4v1678084299482!5m2!1sen!2saz"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="contact-right">
                        <div class="contact-right-header">
                            <div class="contact-title">
                                <h3>OUR STORES</h3>
                            </div>
                            <div class="contact-logo">
                                <img src="~/assets/images/banner-on-logo.png" alt="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="store-name">
                                    <h4>STORE-1</h4>
                                </div>
                                <div class="store-location">
                                    <ul>
                                        <li><span><a href="">Hemlock St, Brooklyn, NY 11208, USA</a></span></li>
                                        <li><a href="">+321 856 964 108</a></li>
                                        <li>
                                            <a href="https://calla.qodeinteractive.com/">calla@qodeinteractive.com</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="store-social">
                                    <ul>
                                        <li>
                                            <p>Monday to Friday: 9am to 8pm</p>
                                        </li>
                                        <li>
                                            <p>Saturday: 10am to 5pm</p>
                                        </li>
                                        <ul>
                                            <ul class="social">
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-instagram"
                                                           style="color:  #909090;"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-twitter"
                                                           style="color:  #909090;"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-facebook-f"
                                                           style="color: #909090;"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-linkedin-in"
                                                           style="color: #909090;"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="store-name">
                                    <h4>STORE-2</h4>
                                </div>
                                <div class="store-location">
                                    <ul>
                                        <li><span><a href="">Hemlock St, Brooklyn, NY 11208, USA</a></span></li>
                                        <li><a href="">+321 856 964 108</a></li>
                                        <li>
                                            <a href="https://calla.qodeinteractive.com/">calla@qodeinteractive.com</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="store-social">
                                    <ul>
                                        <li>
                                            <p>Monday to Friday: 9am to 8pm</p>
                                        </li>
                                        <li>
                                            <p>Saturday: 10am to 5pm</p>
                                        </li>
                                        <ul>
                                            <ul class="social">
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-instagram"
                                                           style="color:  #909090;"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-twitter"
                                                           style="color:  #909090;"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-facebook-f"
                                                           style="color: #909090;"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-linkedin-in"
                                                           style="color: #909090;"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </ul>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>

    <section id="content-input">
        <div class="container">
            <div class="inputs-header">
                <div class="inputs-title">
                    <h3>GET IN TOUCH</h3>
                </div>
                <div class="contact-logo">
                    <img src="~/assets/images/banner-on-logo.png" alt="">
                </div>
            </div>

            <div class="inputs">
                <input type="text" placeholder="NAME">
                <input type="text" placeholder="E-MAIL">
                <input type="text" placeholder="TELEPHONE">
            </div>

            <div class="text-area">
                <textarea name="" id="" cols="30" rows="10" placeholder="WRITE YOUR MESSAGE HERE..."></textarea>
            </div>

            <div class="subscribe-button">
                <button>SUBSCRIBE</button>
            </div>
        </div>

    </section>


    <section id="brands">
        <div class="container">
            <div class="brands-list d-flex">
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo1.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-2.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-3.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-4.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-5.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo1.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-2.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-3.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-4.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-5.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo1.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-2.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-3.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-4.png" alt="">
                </div>
                <div class="single-brands">
                    <img src="~/assets/images/brand-photo-5.png" alt="">
                </div>
            </div>
        </div>

    </section>



</main>
<!-- Main end -->
@section Scripts{
    <script src="~/assets/js/contact.js"></script>
}