@{
    ViewData["Title"] = "Shop";
}


<!-- Main star -->
<main>
    <section id="shop-header-img">
        <div class="shop-bg-img" style="background-image: url('./assets/images/about-page-bg-img.jpg')">
            <h1>SHOP</h1>
            <img src="~/assets/images/banner-on-logo.png" alt="">
        </div>
    </section>

    <section id="shop-content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="show-result">
                                <p>SHOWING 1–9 OF 18 RESULTS</p>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="sort">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Sort By Latest</option>
                                    <option value="1">Sort By Popularity</option>
                                    <option value="2">Sort By Avarage Rating</option>
                                    <option value="3">Sort By Price:Low To High</option>
                                    <option value="4">Sort By Price:High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-cactusPot.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover ">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> MODERN DECOR</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>45.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-candle.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html">CANDLE</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-chair1.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> DEDIGN CHAIR</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>155.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-flowerPot.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> MODERN VASE</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-pillowGreen1.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html">GREEN PILLOW</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-flowerPot-gold.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> MODERN VASE</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-pillow2.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> PILLOW</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-table-white.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> DESIGN CHAIR</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-PotCircul.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> GREEN POT</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-pillow1.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> MODERN DECOR</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-star1.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> STEEL LAMP</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-spoon1.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> SPOON</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-flowerPotGreen.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> BLUE VASE</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-potThinThroat.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> CONCRETE POT</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-pillow-white.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> WHITE PILLOW</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-flowerPotWhite.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover ">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> WHITE POT</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-pineapple.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> Modern Decor</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-leafGreen.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> GREEN PLATE</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="product-card">
                                    <div class="product-img">
                                        <img src="~/assets/images/product-img-nightLight.jpg" alt="">
                                    </div>
                                    <div class="product-img-hover">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-heart d-none"></i>
                                        <div class="add-btn-first">
                                            <button>Add to Card</button>
                                        </div>
                                        <div class="add-btn-second">
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        <h6><a href="./ProductDetail.html"> HOME LIGHTING</a></h6>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <spna>£</spna>35.00
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="load-more">
                        <button>Load more</button>
                    </div>

                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="col-lg-12 ">
                        <div class="product-price">
                            <div class="price-title">
                                <h3>FILTER BY PRICE</h3>
                            </div>
                            <div class="price-filter">
                                <div class="card">


                                    <div class="range-slider">
                                        <input type="range" class="min-price" value="100" min="10" max="500"
                                               step="10" style="accent-color: #d8d8d8;">
                                        <input type="range" class="max-price" value="250" min="10" max="500"
                                               step="10" style="accent-color: #d8d8d8;">
                                    </div>
                                    <div class="price-content">

                                        <div style="color: gray;">
                                            <p>Price:</p>
                                        </div>
                                        <div>
                                            <p id="min-value">50</p>
                                        </div>

                                        <div>
                                            <p id="max-value">500</p>
                                        </div>
                                        <div class="filter-button">
                                            <button>FILTER</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="category">
                            <div class="category-header">
                                <h6>CATEGORIES</h6>
                            </div>
                            <div class="categories">
                                <ul>
                                    <li><a href="">All (19)</a></li>
                                    <li><a href="">Interior (3)</a></li>
                                    <li><a href="">Modern (5)</a></li>
                                    <li><a href="">Style (7)</a></li>
                                    <li><a href="">Uncategorized (4)</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="brand">
                            <div class="brand-header">
                                <h6>BRANDS</h6>
                            </div>
                            <div class="brands">
                                <ul>
                                    <li><a href="">All (19)</a></li>
                                    <li><a href="">Chairish (4)</a></li>
                                    <li><a href="">De Niro (1)</a></li>
                                    <li><a href="">Vintage (3)</a></li>
                                    <li><a href="">The Industry (5)</a></li>
                                    <li><a href="">Woodwork (3)</a></li>
                                    <li><a href="">InStyle (3)</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="color">
                            <div class="color-header">
                                <h6>COLORS</h6>
                            </div>
                            <div class="colors">
                                <ul>
                                    <li><a href="">All (19)</a></li>
                                    <li><a href="">White (4)</a></li>
                                    <li><a href="">Black (1)</a></li>
                                    <li><a href="">Green (3)</a></li>
                                    <li><a href="">Gray (5)</a></li>
                                    <li><a href="">Yellow (3)</a></li>
                                    <li><a href="">Red (3)</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="size">
                            <div class="size-header">
                                <h6>SIZES</h6>
                            </div>
                            <div class="sizes">
                                <ul>
                                    <li><a href="">All (19)</a></li>
                                    <li><a href="">Small (6)</a></li>
                                    <li><a href="">Medium (5)</a></li>
                                    <li><a href="">Large (8)</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="tag">
                            <div class="tag-header">
                                <h6>TAGS</h6>
                            </div>
                            <div class="tags">
                                <ul>
                                    <li><a href="">Casual</a></li>
                                    <li><a href="">Classic</a></li>
                                    <li><a href="">Creative</a></li>
                                    <li><a href="">Elegant</a></li>
                                    <li><a href="">Lifestyle</a></li>
                                    <li><a href="">Minimal</a></li>
                                    <li><a href="">Modern</a></li>
                                    <li><a href="">Style</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="top-products">
                            <div class="top-header">
                                <h6>TOP PRODUCTS</h6>
                            </div>
                            <div class="top-product-detail">
                                <ul>
                                    <li>
                                        <a href="">
                                            <div class="top-img">
                                                <img src="~/assets/images/product-img-pillow1.jpg"
                                                     style="width: 90px; height: 110px;" alt="">
                                            </div>
                                            <div class="product-detail">
                                                <div class="product-name">
                                                    <p>Pillow</p>
                                                </div>
                                                <div class="product-rate">
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-regular fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-regular fa-star" style="color: #b97a56;"></i>
                                                </div>
                                                <div class="product-price">
                                                    <span>£<span>12</span></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <div class="top-img">
                                                <img src="~/assets/images/product-img-star1.jpg"
                                                     style="width: 90px; height: 110px;" alt="">
                                            </div>
                                            <div class="product-detail">
                                                <div class="product-name">
                                                    <p>Decor</p>
                                                </div>
                                                <div class="product-rate">
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-regular fa-star" style="color: #b97a56;"></i>
                                                </div>
                                                <div class="product-price">
                                                    <span>£<span>50</span></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <div class="top-img">
                                                <img src="~/assets/images/product-img-flowerPot.jpg"
                                                     style="width: 90px; height: 110px;" alt="">
                                            </div>
                                            <div class="product-detail">
                                                <div class="product-name">
                                                    <p>Pillow</p>
                                                </div>
                                                <div class="product-rate">
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                    <i class="fa-solid fa-star" style="color: #b97a56;"></i>
                                                </div>
                                                <div class="product-price">
                                                    <span>£<span>85</span></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="search-inShop">
                            <input type="text" placeholder="SEARCH PRODUCTS...">
                            <i class="fa-solid fa-magnifying-glass fa-rotate-90"></i>
                        </div>
                        <div class="shop-banner">
                            <img src="./assets/images/shop-banner-img-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- Main end -->
@section Scripts{
    <script src="~/assets/js/shop.js"></script>
}